.meunome{
    width: 500px;
    font-family: Verdana;
    font-size: 50pt;
    background-color: #000;
    color: #fff;
    border-style: solid;
    border-radius: 130px;
    text-align: center;


}